.language-switcher-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 18px;
}


.language-toggle {
    width: 110px;
    height: 40px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.08);
    font-size: 14px;
}