<!DOCTYPE html>
<html lang="">

<body>

<h1>Board Game System</h1>

<input
    type="number"
    id="pointInput"
    placeholder="Enter points"
>

<button onclick="addPoints()">
    Add Points
</button>

<p id="result"></p>

<script>

async function addPoints() {

    // 获取输入框里的值
    const points =
        document.getElementById("pointInput").value;

    // 调用 FastAPI
    const response = await fetch(
        `/add-points?amount=${points}`,
        {
            method: "POST"
        }
    );

    // 获取返回数据
    const data = await response.json();

    // 更新页面
    document.getElementById("result").innerText =
        data.message + " Current points: " + data.points;
}

</script>

</body>
</html>